body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:941px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:616px;
  width:682px;
  height:941px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:98px;
  width:205px;
  height:37px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:98px;
  width:205px;
  height:37px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:98px;
  width:205px;
  height:37px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:98px;
  width:205px;
  height:37px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:98px;
  width:205px;
  height:37px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:36px;
  width:183px;
  height:32px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:30px;
  width:189px;
  height:47px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:55px;
  top:180px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1004px;
  height:340px;
  background-image:none;
}
#u11_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:340px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:340px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
