
		html {
		box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

		.column {
		float: left;
		width: 33%;
		margin-bottom: 16px;
		padding: 0 8px;
		
		}

		@media (max-width: 650px) {
		.column {
			width: 100%;
			display: block;
		}
		}

		.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}

		.container {
		padding: 0 16px;
		
		}

		.container::after, .row::after {
		content: "";
		clear: both;
		display: table;
		}

		.title {
		color: grey;
		}

		.button {
		border: none;
		outline: 0;
		display: inline-block;
		padding: 8px;
		color: white;
		background-color: #A7D9A4;
		text-align: center;
		cursor: pointer;
		width: 100%;
		}
		
		.button:hover {
		background-color: rgb(98, 179, 93);
		}
		
		
		
			.vertical-menu {
			 float: left;
			width: 20%;
			}

			.vertical-menu a {
				background-color: #A7D9A4;
				color: black;
				display: block;
				padding: 12px;
				text-decoration: none;
			}

			.vertical-menu a:hover {
				background-color: rgb(98, 179, 93);
			}
			
			
				.bigphoto{
				background-color: grey
				
				
				border: 25px;
				width: 75%;
				position: relative;
				margin: auto;
				
				float: left;
				
				
				margin-bottom: 16px;
				padding: 0 8px;
				}
				
				
				
				
				.slider_container {
				
				margin: 0px 230px;
				width: 78%;
				height: 410px;
				position: relative;
				border: 20px solid;    
				border-color: #fff;
				border-bottom-width: 100px;
				background-color: #f5f5f5;
				box-shadow: #666 0 0 5px;
				}

				.slider_container div {
				
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				filter: alpha(opacity=0);
				}
				
				.slider_container div {
				-webkit-animation: round 25s linear infinite;
				animation: round 25s linear infinite;
				}

				@-webkit-keyframes round {
					4% {
						opacity: 1;
						filter: alpha(opacity=100);
						/* 0 - 1¨Ì ≤H§J*/
					}
					20% {
						opacity: 1;
						filter: alpha(opacity=100);
						/* 1- 5¨Ì¿R§Ó*/
					}
					24% {
						opacity: 0;
						filter: alpha(opacity=0);
						/* 5-6¨Ì≤H•X*/
					}
				}
				@keyframes round {
					4% {
						opacity: 1;
						filter: alpha(opacity=100);
						/* 0 - 1¨Ì ≤H§J*/
					}
					20% {
						opacity: 1;
						filter: alpha(opacity=100);
						/* 1- 5¨Ì¿R§Ó*/
					}
					24% {
						opacity: 0;
						filter: alpha(opacity=0);
						/* 5-6¨Ì≤H•X*/
					}
				}
				
				
				.slider_container div:nth-child(5) {
					-webkit-animation-delay: 0s;
							animation-delay: 0s;
				}

				.slider_container div:nth-child(4) {
					-webkit-animation-delay: 5s;
							animation-delay: 5s;
				}

				.slider_container div:nth-child(3) {
					-webkit-animation-delay: 10s;
							animation-delay: 10s;
				}

				.slider_container div:nth-child(2) {
					-webkit-animation-delay: 15s;
							animation-delay: 15s;
				}

				.slider_container div:nth-child(1) {
					-webkit-animation-delay: 20s;
							animation-delay: 20s;
				}
			
