body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:304px;
  width:300px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:272px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:347px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:369px;
  width:300px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:417px;
  width:69px;
  height:19px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:417px;
  width:56px;
  height:19px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:98px;
  width:205px;
  height:37px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:98px;
  width:205px;
  height:37px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:98px;
  width:205px;
  height:37px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:98px;
  width:205px;
  height:37px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:38px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:98px;
  width:205px;
  height:37px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:36px;
  width:183px;
  height:32px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:47px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:30px;
  width:189px;
  height:47px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
