    .content {
        height: 2000px;
        border: 1px solid red;
    }

  /*  .fixednav {
        position: fixed;
        top: 0;
        z-index: 265;
        width: 100%;
        opacity: .95;
    }*/
    #goToTop {
        position: fixed;
        right: 10%;
        z-index: 9000;
        top: 100%;
        margin-top: -50px;
    }
    #nav-header{
        background-color: #A7D9A4;
    }