.banner.row
	.random-language.col
		.banner-title 
			span.font-div 每
			span.font-div 日
			span.font-div 族
			span.font-div 語
		.banner-content
			.zu-mark
				img.zu-totem(src="../common/resources/images/totem/svg/Amis.svg")
				span.zu-name 阿美族 
			.vocabulary aahowiden
			.translation 值得去感謝者
	.random-festival.col
		.banner-title
			span.font-div 近
			span.font-div 期
			span.font-div 節
			span.font-div 慶
			span.font-div 之
			span.font-div 一
		.banner-content
			.festival-content
				.zu-mark
					img.zu-totem(src="../common/resources/images/totem/svg/Tsou.svg")
					span.zu-name 鄒族 
				.festival-name 
					.festival-en Mayasvi
					.festival-ch 瑪雅斯比祭典(戰祭)
				.festival-time 約 二月
			.festival-img
				img(src="../festival%26language/resources/festival/Tsou/images/Tsou_Mayasvi.png")